<div class="backFon">
    <div class="card cardByuMedia text-center modalView">
        <div class="card-body" *ngIf="product">
            <h5 class="card-title" > {{ product.titleCard }} </h5>
            <p class="card-text"> {{ product.price }} </p>
        </div>

        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link informTitle active" (click)="close.emit()">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link completeFormByu" href="">В корзину</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<app-forms-buy *ngIf="formsBuy" title="Заполните заявку" (close)="formsBuy = false"></app-forms-buy>
