.card-title {
  margin-top: 10px;
}

.carousel-control-next-icon {
  background-color: gray;
}

.btnStyleLights {
  margin-top: 23px;
  margin-left: 3px;
}

.form-control {
  margin-top: 25px;
  width: 50%;
  margin-left: 25%;
}

.cardLine1 {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-areas: "1 2 3 4" "5 6 7 8";
    align-items: center;
    margin-left: -8%;
}

.card-body {
  text-align: center;
}

.titleLights {
  text-align: center;
  margin-top: 20px;
}

.col {
  margin-left: 80px;
  margin-top: 20px;
}

.btnStyleIndividalImagee5Card2 {
  margin-right: 3px;
}

.card-img-top {
  align-items: center;
  text-align: center;
  height: 220px;
}

.customStyleBody {
  height: 150px;
}

.card-text {
  height: 96px;
}

.card {
  width: 250px;
}

/* CardLine4 */

.btnCustomImgCard4 {
  margin-top: 0px;
}

.btnCustom2ImgCard4 {
  margin-top: 0px;
}

.divCardCard4 {
  height: 371px;
}

/* cardLine4Finish */

/* ------------------------------------------------------------------------- */

/* media-запросы */

/* Стили для устройств с маленьким экраном, размерами 768px - 991px  */

/* Стили для ноутбуков и компьютеров с экранами в диапазоне 992px - 1199px  */

/* Стили для устройств с большой шириной экрана >1200px  */

@media (min-width: 575px) and (max-width: 575px) {
  .app-major-screen {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .card {
    margin-bottom: 20px;
  }
  .container {
    margin-left: 80px;
  }
  /*
    .btnMediaW575 {
        margin-left: -100px;
        border-radius: 10px;
    } */
}

@media (min-width: 768px) and (max-width: 768px) {
  .row {
    margin-left: -120px;
  }
  .container {
    /*  display: flex;
        flex-direction: column;
        margin: 0; */
    margin-left: 280px;
  }
}

/* @media (min-width: 1024px) and (max-width: 1024px) {
    .row {
        margin-left: -331px;
    }
    .container {
         display: flex;
        flex-direction: column;
        margin: 0;
        margin-left: 280px;
    }
} */

@media (min-width: 1440px) and (max-width: 1500px) {
  .navbar-brand {
    height: 50px;
    padding: 15px;
    font-size: 20px;
  }
  .cardLine1 {
    margin-left: -50px;
  }
}

@media (min-width: 2560px) and (max-width: 2560px) {
  /*    .navbar-brand {
        height: 80px;
        padding: 30px;
        margin-top: 300px;
        margin: 0;
    } */
  /*   .container {
        margin-left: 540px;
    } */
  .btn-primary {
    font-size: 30px;
  }
  .card {
    width: 300px;
    border: none;
  }
  .btn-secondary {
    font-size: 30px;
  }
  .card-title {
    font-size: 28px;
  }
  .mediaScreen2560 {
    margin-top: 500px;
  }
}

@media (min-width: 425px) and (max-width: 435px) {
  .row {
    margin-left: -290px;
  }
  .container {
    /*  display: flex;
        flex-direction: column;
        margin: 0; */
    margin-left: 280px;
  }
}

@media (min-width: 375px) and (max-width: 385px) {
  .row {
    margin-left: -315px;
  }
  .container {
    /*  display: flex;
        flex-direction: column;
        margin: 0; */
    margin-left: 280px;
  }
}

@media (min-width: 320px) and (max-width: 330px) {
  .row {
    margin-left: -345px;
  }
  .container {
    /*  display: flex;
        flex-direction: column;
        margin: 0; */
    margin-left: 280px;
  }
}

/*
display: flex;
flex-direction: column;
margin-left: 20%;
card margin-bot: 20px
*/

/* //////////////////////////////////////////// */
