<input type="text" class="form-control" placeholder="Поиск по названию" [(ngModel)]="term" />
<div class="container my-5 " >
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 cardLine1">
        <div class="col " *ngFor="let product of productList | filterShops: term" >
        <div class="card ">
                <img [src]="product.titleImg" class="card-img-top" alt="Картинка светильника" />
                <div class="card-body" >
                    <h5 class="card-title" >{{ product.titleCard }}</h5>

                    <button (click)="informAbout = true" class="btn btnStyleLights btn-primary"> Подробней </button>

                    <button (click)="addToCart(product)" class="btn btnMediaW575 btnStyleLights btn-secondary">
                        Заказать
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-information-about-shops *ngIf="informAbout" (close)="informAbout = false" ></app-information-about-shops>
