<div class="backFon">
  <div class="card cardByuMedia text-center modalView">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link informTitle active" [routerLink]="['baseComponent']">Вернуться к выбору товара</a>
        </li>
        <button (click)="clearCard()" class="nav-link completeFormByu">
          Очистить корзину
        </button>
      </ul>
      <div class="container">
        <h2>Группа компаний свет</h2>
        <br />
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Артикул</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Сумма</th>
                <th></th>
              </tr>
            </thead>
            <thead id="cart" *ngFor="let item of basket; let i = index">
              <tr>
                <th>{{i + 1}}</th>
                <th>{{ item.titleCard }}</th>
                <th>{{ item.price }}</th>
                <th>
                  <button class="button" mat-flat-button (click)="minusItemFromBasket(item)">-</button>
      <!--             <input
                    [(ngModel)]="item.count"
                    [ngModelOptions]="{standalone: true}"
                    min="1"
                    type="number"
                    value="1"
                    name=""
                    class="form-control text-center w-30"
                  /> -->
                  {{item.count}}
                  <button  class="button" mat-flat-button (click)="plusItemFromBasket(item)">+</button>
                </th>
                <th>{{ item.count * item?.price | number }} руб.</th>
                <button
                  (click)="removeFromCard(item)"
                  type="button"
                  class="btn mt-3">x</button>
              </tr>
            </thead>
          </table>
          <div>
            Итого:
            <span id="total-cart-summa">{{total }}</span>
            руб.
          </div>
          <br />
            <button id="order" class="btn btn-info" type="submit" (click)="openDialogOfer()">
              Оформить заказ
            </button>
        </div>
      </div>
    </div>
</div>