<div class="backFon">
    <div class="card cardByuMedia text-center modalView">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link informTitle active" href="/">Вернуться к выбору товара</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link completeFormByu" (click)="formsBuy = true" href="#"
            >перейти к оформелнию</a
          >
        </li>
      </ul>
      <div *ngFor="let item of items">
        <p>Наименование товара: {{ item.titleCard }}</p>
        <span>Цена: {{ item.price }}</span>
      </div>
    </div>
  </div>
</div>

<app-forms-buy
  *ngIf="formsBuy"
  title="Заполните заявку"
  (close)="formsBuy = false"
></app-forms-buy>