/* .titleLights {
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 2560px) {
    .customMedia2560 {
        height: 80px;
        padding: 30px;
        font-size: 30px;
    }
}

@media (min-width: 1440px) and (max-width: 1500px) {
    .customMedia2560 {
        height: 50px;
        padding: 15px;
        font-size: 20px;
    }
} */