/* .titleLights {
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 2560px) {
    .customMedia2560 {
        height: 80px;
        padding: 30px;
        font-size: 30px;
    }
}

@media (min-width: 1440px) and (max-width: 1500px) {
    .customMedia2560 {
        height: 50px;
        padding: 15px;
        font-size: 20px;
    }
} */

.form-control {
    margin-top: 25px;
    width: 50%;
    margin-left: 25%;
}

.cardLine1 {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-areas: "1 2 3 4" "5 6 7 8";
    align-items: center;
}

.titleLights {
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 2560px) and (max-width: 2900px) {
    .specialStyleM2560 {
        font-size: 30px;
    }
}

@media (min-width: 1440px) and (max-width: 1580px) {
    .navbar-brand {
        height: 50px;
        padding: 15px;
        font-size: 20px;
    }
    .cardLine1 {
        margin-left: -40px;
    }
}

@media (min-width: 1024px) and (max-width: 1050px) {
    .navbar-brand {
        height: 50px;
        padding: 15px;
        font-size: 20px;
    }
    .cardLine1 {
        margin-left: -55px;
    }
}