<!-- <div class="row row-cols-1 m-0 row-cols-md-2 g-4" *ngFor="let item of newOfferProducts">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{item.firstSecondName}}</h5>
          <p class="card-text">{{item.awayDelivery}}</p>
          <p class="card-text">{{item.numberCustomer}}</p>
        </div>
      </div>
    </div>
</div> -->
<!-- 

<div class="row row-cols-1 m-0 row-cols-md-2 g-4" *ngFor="let item of basket">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{item.titleCard}}</h5>
          <p class="card-text">{{item.informationProduct}}</p>
          <p class="card-text">{{item.total}}</p>
        </div>
      </div>
    </div>
</div> -->

<!-- <div class="card cardByuMedia text-center modalView">
  <div class="card-header" >
    <ul class="nav nav-pills card-header-pills">
    </ul>
    <div class="container">
      <h2>Заказ покупателя</h2>
      <br />
      <div class="table-responsive">
        <table class="table table-hover table-bordered" >
          <thead>
            <tr>
              <th>Название</th>
              <th>Цена</th>
              <th>Количество</th>
              <th>Сумма</th>
            </tr>
          </thead>
          <thead id="cart" *ngFor="let item of newOfferProducts">
            <tr>
              <th>{{ item.titleCard }}</th>
              <th>{{ item.price }}</th>
              <th>{{item.count}}</th>
              <th>{{ item.count * item?.price | number }} руб.</th>
            </tr>
          </thead>
          <br>
            <h4>Детали заказа</h4>
          <br>
          <thead>
            <tr>
              <th>Полное имя</th>
              <th>Адрес доставки</th>
              <th>Номер покупателя</th>
              <th>Статус заказа</th>
            </tr>
          </thead>
          <thead id="cart" *ngFor="let itemOffer of newOfferProducts">
            <tr>
              <th>{{itemOffer.fullName}}</th>
              <th>{{itemOffer.awayDelivery}}</th>
              <th>{{itemOffer.numberCustomer}}</th>
              <th>Не исполнен</th>
            </tr>
          </thead>
        </table>
        <div>
          Итого:
          <span id="total-cart-summa">{{total }}</span>
          руб.
        </div>
      </div>
    </div>
  </div> -->



<div class="card cardByuMedia text-center modalView">
  <div class="card-header" >
    <ul class="nav nav-pills card-header-pills">
    </ul>
    <div class="container">
      <h2>Заказ покупателя</h2>
      <br />
      <div class="table-responsive">
        <table class="table table-hover table-bordered" >
          <thead>
            <tr>
              <th>Название</th>
              <th>Цена</th>
              <th>Количество</th>
              <th>Сумма</th>
            </tr>
          </thead>
            <tbody *ngFor="let item of newOfferProducts">
              <tr>
                <td>{{ item.titleCard }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.count }}</td>
                <td>{{ item.count * item?.price | number }} руб.</td>
              </tr>
            </tbody>
              <h2 class="txt">Детали заказа</h2>
            <thead>
              <tr>
                <th>ФИО покупателя</th>
                <th>адрес доставки</th>
                <th>контактный телефон</th>
                <th>Коментарий к заказу</th>
              </tr>
          </thead>
          <tbody id="cart" *ngFor="let item of newOfferProductsFromBaket">
            <tr>
              <td>{{ item.fullName }}</td>
              <td>{{ item.awayDelivery }}</td>
              <td>{{ item.numberCustomer }}</td>
              <td>No Comment</td>
            </tr>
          </tbody>
        </table>
        <div>
          Итого:
          <span id="total-cart-summa">{{sum}}</span>
          руб.
        </div>
      </div>
    </div>
  </div>



  

  