<div class="backFon">
  <div class="card windowContact">
    <div class="card-body">
      <h5 class="card-title">{{ contactInfo }}</h5>
      <p class="card-text">
        {{ informationForUsers }}
      </p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a
          class="btn btn-secondary"
          href="https://vk.com/away.php?to=https%3A%2F%2Finstagram.com%2Fsvet__vitebsk.by%3Figshid%3DYmMyMTA2M2Y%3D&cc_key="
          target="_blank"
          >{{ Inst }}</a
        >
      </li>
      <li class="list-group-item">
        <a
          class="btn btn-secondary"
          href="https://www.youtube.com/channel/UC_J3Sf_7EyJ3QqtorYAgmCA/videos"
          target="_blank"
          >{{ YouToub }}</a
        >
      </li>
      <li class="list-group-item">
        <a
          class="btn btn-secondary"
          href="https://vk.com/svet__vitebsk"
          target="_blank"
          >{{ Vkontakte }}</a
        >
      </li>
    </ul>
    <a href="#" (click)="close.emit()" class="btn btn-primary">Закрыть</a>
  </div>
</div>
